name: Build and Test

on:
  pull_request:
    branches:
      - develop
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: haskell:9.8
    steps:
      - uses: actions/checkout@v3

      - name: Install system dependencies
        run: |
          apt-get update
          apt-get install -y build-essential liblapack-dev libblas-dev

      - name: Update Cabal
        run: cabal update

      - name: Build dependencies
        run: cabal build --only-dependencies

      - name: Build
        run: cabal build

      - name: Run Tests
        run: cabal test
